SspesClient/Service References/SspesService/Service14.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/SspesRestService.Classes" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SspesRestService.Classes" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.1.124:8891/SspesRestService/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SspesRestService" />
  <xs:import schemaLocation="http://192.168.1.124:8891/SspesRestService/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="Challenge">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SspesRestService" minOccurs="0" name="ChallengeFrom" nillable="true" type="q1:Friend" />
      <xs:element minOccurs="0" name="ChallengeId" type="ser:guid" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SspesRestService" minOccurs="0" name="ChallengeTo" nillable="true" type="q2:Friend" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Challenge" nillable="true" type="tns:Challenge" />
</xs:schema>