SspesClient/Service References/SspesService/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/SspesRestService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SspesRestService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:35373/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="Friend">
    <xs:sequence>
      <xs:element minOccurs="0" name="PChan" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" type="ser:guid" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Friend" nillable="true" type="tns:Friend" />
  <xs:complexType name="ArrayOfFriend">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Friend" nillable="true" type="tns:Friend" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFriend" nillable="true" type="tns:ArrayOfFriend" />
</xs:schema>